{% load static %}
<!DOCTYPE html>
<html lang="en">
 <head>
  {% include 'navbar.html'%}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block meta %}
    {% endblock meta %}
  </head>
  <body>
   
      {% block content %}
      {% endblock content %}

  
  </body>
</html>
