<!DOCTYPE html>
<html lang="en">
    <nav>
        <ul>
            <li><a href="{% url 'main:tambah'%}">Form Matkul</a></li>
            <li><a href="{% url 'main:jadwal'%}">Daftar</a></li>
        </ul>
    </nav>
</html>