<!DOCTYPE html>
{% extends 'base.html' %}


{% block content %}
    <form action="/tambah/" method="POST" style=";">
    {% csrf_token %}
    <table>
        {{form.as_table}}
    </table>
<input type="submit" value="Submit" style="font-size: large; font-weight: bold;">
</form>

{% endblock content %}

