<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="yes">
            <table>
                <tr>
                    <th>Mata Kuliah</th>
                    <th>Dosen Pengajar</th>
                    <th>Jumlah SKS</th>
                    <th>Deskripsi</th>
                    <th>Semester</th>
                    <th>Ruang Kelas</th>
                </tr>
                <tr>
                    <td>{{matkul.matkul_name}}</td>
                    <td>{{matkul.dosen_name}}</td>
                    <td>{{matkul.jumlah_sks}}</td>
                    <td>{{matkul.deskripsi}}</td>
                    <td>{{matkul.tahun_semester}}</td>
                    <td>{{matkul.ruang_kelas}}</td>
                <tr>
                    <td><a href="delete">Delete</a></td>
                </tr>
            </table>
        </div>

{% endblock content %}

