<!DOCTYPE html>
{% extends 'base.html' %}

{% block content %}
    {% if matkul %}
    <div class="yes">
    <table>
        <tr>
            <th>Mata Kuliah</th>
            <th>Dosen Pengajar</th>
        </tr>
        {% for form in matkul %}
        <tr>
            <td>{{form.matkul_name}}</td>
            <td>{{form.dosen_name}}</td>
            <td><a href="{{form.id}}">Detail</a></td>
        </tr>
        {% endfor %}
    </table>
</div>
    {% endif %}

{% endblock content %}

